*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani' , sans-serif;
    box-sizing: border-box;
}


/* CODE FOR PRODUCT SECTION */

.product{
    display: flex;
}

.product > div{
    width: 50%;
    padding: 2vh 0vw;
}

.main-img , .main-img2{
    width: 45vw;
    aspect-ratio: 4/3;
}

.product-images > div img , .product-images2 > div img{
    width: 10vw;
}

.product-images > div , .product-images2 > div{
    display: flex;
    justify-content: space-evenly;
}

/* CODE FOR FOOTER */

footer{
    background-color: var(--primary-color);
    color: var(--accent-color);
    height: 7vh;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
}

footer img {
    filter:invert();
    height: 4vh;
    margin: 0 1vw;
}
