*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani' , sans-serif;
}


/* CODE FOR PRODUCT SECTION */

.product{
    width: 100vw;
    display: flex;
}

.product > div{
    width: 50vw;
}

.main-img{
    width: 50vw;
}


.product img{
    width: 10vw;
}

/* CODE FOR FOOTER */

footer{
    background-color: var(--primary-color);
    color: var(--accent-color);
    height: 7vh;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
}

footer img {
    filter:invert();
    height: 4vh;
    margin: 0 1vw;
}