/* IMPORT STATEMENTS */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

/* :root {
    --primary-color: #1E1C1C;
    --secondary-color: #81D959;
    --accent-color: #FFFDFA;
} */

body {
    background-color: #fffdfa;
}


/* CODE FOR INTRO VIDEO */

.introVid {
    background-color: #FFFDFA;
    display: flex;
    align-items: center;
}

.introVid > video {
    margin: auto;
    width: 70vw;
}



/* CODE FOR INTRO SECTION*/

.intro-section {
    background-color: #1E1C1C;
    color: #FFFDFA;
}

.intro-section > h1{
    font-size: 8vw;
    padding: 4vh 0;
    text-align: center;
}

.intro-section > h4{
    font-size: 2vw;
    text-align: center;
    padding: 2vh 0;
}



/* CODE FOR PRODUCTS SECTION */


.product-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #1E1C1C;
    padding: 15vh 2vw;
    font-size: 1.2vw;
    padding-bottom: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.product-container{
    width: 30vw;
    overflow: hidden;
    display: flex;
    position: relative;
    border-radius: 1vw;
    background-color: #FFFDFA;
}

.product-container > div{
    transform: translateX(-30vw);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container > div{
    width: 100%;
    position: relative;
}

.product-container > div h4  , .product-container > div h6{
    text-align: center;
    margin: 2vh 0;
    font-size: 2vw;
}

.pro-img{
    padding: 10px;
    width: 30vw;
    transition: .5s;
}

.pic-selector{
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}

.pic-selector img{
    width: 4vw;
    border-radius: 50%;
    border: 1px solid #1E1C1C;
    cursor: pointer;
    transition: 0.2s;
}

.pic-selector img:hover{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.product-container > div a{
    background-color: #81D959;
    text-decoration: none;
    color: #1E1C1C;
    font-weight: 900;
    font-size: 2vw;
    padding: 1vh 1vw;
    margin: 1vh;
    border-radius: .5vw;
    transition: .2s;
}

.product-container > div a:hover{
    box-shadow: .2vh .2vw 0px rgb(0, 0, 0);
}

.proText h1{
    color: #FFFDFA;
    font-size: 5vw;
    text-align: center;
}

.product-details{
    width: 50vw;
    color: #FFFDFA;
}

.product-details > h1{
    font-size: 4vw;
    position: relative;
    padding: 2vh 2vw;
    font-family: 'Felix Titling' , cursive;
    background-color: #FFFDFA;
    color: #81D959;
    border-radius: 1vw;
    margin-bottom: 2vh;
    transition: .2s;
}

.product-details > h1:hover{
    box-shadow: 0px 0px 5px black inset;
}

.sub-heading{
    font-size: 2vw;
}

.range-box{
    width: fit-content;
    padding: 2vh 2vw;
    margin: 2vh 0;
    font-size: 2vw;
    position: relative;
}

.range-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    height: 100%;
    background-color: #81D959;
}   

.specTit{
    font-size: 2vw;
}

.specsList li{
    display: flex;
    align-items: center;
    margin: 1vh 0;
    font-size: 1.7vw;
}

.specsList img{
    width: 5vw;
    margin-right: 1vw;
}

.product-details a{
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    margin: 5vh 0;
    background-color: var(--accent-color);
    width: fit-content;
    padding: 1vh 1vw;
    transition: .2s;
}

.product-details a:hover{
    box-shadow: .3vh .3vw 0 var(--primary-color);
    text-decoration: underline;
}

/* CODE FOR FEATURES SECTION */

.features-section{
    padding: 5vh 4vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.features-section > div{
    width: 50vw;
}

.specsList2{
    list-style: none;
}

.specsList2 li{
    margin: 1vh 0;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
}

.specsList2 img{
    width: 7vw;
}

.specsList2 img{
    width: 5vw;
    border: 1px solid #1E1C1C;
    margin-right: 1vw;
}

.product-details2 a{
    text-decoration: none;
    color: #1E1C1C;
    font-size: 1.5vw;
    font-weight: 900;
    display: block;
    margin: 5vh 0;
    background-color: #81D959;
    width: fit-content;
    padding: 1vh 1vw;
    transition: .2s;
}

.product-details2 a:hover{
    box-shadow: .3vh .3vw 0 #1E1C1C;
    text-decoration: underline;
}

.product-images{
    border: 1px solid #81D959;
}

.product-images > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-images > div > div{
    overflow: hidden;
    width: 30%;
}

.product-images > div img{
    display: block;
    width: 100%;
    transition: .2s;
}

.product-images > div img:hover{
    transform: scale(1.2);
}

.main-img{
    width: 100%;
}
/* CODE FOR FAQ SECTION */

.faqs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1E1C1C;
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    padding: 20vh 0;
    box-shadow: 0 10px 10px black;
}

.faqText{
    width: 40vw;
    font-size: 5vw;
    color: #FFFDFA;
    text-align: center;
}

.questions > details{
    font-size: 1.2vw;
    padding: 1vh 1vw;
    font-weight: 900;
    width: 50vw;
    background-color: #81D959;
    margin-bottom: 2vh;
}

.questions summary{
    margin: 1vh;
    color: #1E1C1C;
    font-weight: 900;
    font-size: 1.5vw;
}



/* CODE FOR VISION AND MISSION SECTION */

.about-sec{
    font-size: 1.7vw;
    padding: 5vh 0;
}

.about-sec h1{
    position: relative;
    padding: 1vh 2vw;
    margin-bottom: 1vh;
    font-family: 'Felix Titling' , cursive;
}

.about-sec h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3vw;
    background-color: #81D959;
}

.about1{
    padding: 10vh 2vw;
}

.about1 > h1{
    font-size: 5vw;
}

.vis-mis > div{
    width: 40vw;
}

.vis-mis{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.vis-mis h1{
    font-size: 5vw;
}



/* CODE FOR FOOTER */

footer{
    background-color: #1E1C1C;
    padding: 2vh 2vw;
    color: #81D959;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    font-size: 1vw;
}

footer img {
    height: 5vh;
    margin: 0 1vw;
    transition: .2s;
}

footer img:hover{
    transform: rotateZ(-15deg);
}


/* CODE FOR RESPONSIVENESS */


@media screen and (max-width:650px) {
    
    .introVid > video{
        width: 100vw;
    }

    .intro-section > h1{
        font-size: 12vw;
        padding: 2vh 0;
    }

    .intro-section > h4{
        font-size: 4vw;
    }

    .product-section{
        padding: 10vh 2vw;
    }

    .features-section{
        flex-direction: column  ;
    }

    .features-section > div{
        width: 90vw;
    }

    .product-details2 a{
        margin: 2vh 0;
    }

    .faqs{
        flex-direction: column;
        padding: 20vh 0 12vh 0;
    }

    .questions > details{
        width: 90vw;
    }

    .about-sec{
        padding: 2vh 0;
    }

    .about1{
        padding: 2vh 2vw;
    }

    footer{
        padding: 1vh 3vw;
    }

    footer img{
        height: 3vh;
    }
}
