/* IMPORT STATEMENTS */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

*::selection{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

:root {
    --primary-color: #1E1C1C;
    --secondary-color: #FF4545;
    --accent-color: #FFFDFA;
}

body {
    background-color: var(--secondary-color);
}


/* CODE FOR INTRO VIDEO */

.introVid {
    background-color: #FFFDFA;
    display: flex;
    align-items: center;
}

.introVid>video {
    margin: auto;
    width: 50vw;
}



/* CODE FOR INTRO SECTION*/

.intro-section {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.intro-section>h1 {
    font-size: 8vw;
    padding: 4vh 0;
    text-align: center;
}

.intro-section>h4 {
    font-size: 2vw;
    text-align: center;
    padding: 2vh 0;
}



/* CODE FOR PRODUCTS SECTION */


.product-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    padding: 15vh 2vw;
    font-size: 1.2vw;
    padding-bottom: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.product-container{
    width: 30vw;
    overflow: hidden;
    display: flex;
    position: relative;
    border-radius: 1vw;
    background-color: #FFFDFA;
}

.product-container > div{
    transform: translateX(-30vw);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container > div{
    width: 100%;
    position: relative;
}

.product-container > div h4  , .product-container > div h6{
    text-align: center;
    margin: 2vh 0;
    font-size: 2vw;
}

.pro-img{
    padding: 10px;
    width: 30vw;
    transition: .5s;
}

.pic-selector{
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}

.pic-selector img{
    width: 4vw;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: 0.2s;
}

.pic-selector img:hover{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.product-container > div a{
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 900;
    font-size: 2vw;
    padding: 1vh 1vw;
    margin: 1vh;
    border-radius: .5vw;
    transition: .2s;
}

.product-container > div a:hover{
    box-shadow: .2vh .2vw 0px rgb(0, 0, 0);
}

.proText h1{
    color: var(--accent-color);
    font-size: 5vw;
    text-align: center;
}


/* CODE FOR FEATURES SECTION */

.features-section{
    padding: 5vh 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fea{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    font-size: 2vw;
    font-weight: 700;
}

.fea img{
    width: 5vw;
    border-radius: .5vw;
    margin-right: 1vw;
}


.feaText{
    font-size: 5vw;
    width: 40vw;
    text-align: center;
}

/* CODE FOR FAQ SECTION */

.faqs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    padding: 20vh 0;
    box-shadow: 0 10px 10px black;
}

.faqText{
    width: 40vw;
    font-size: 5vw;
    color: var(--accent-color);
    text-align: center;
}

.questions > details{
    font-size: 1.2vw;
    padding: 1vh 1vw;
    font-weight: 900;
    width: 50vw;
    background-color: #FFFDFA;
    background-color: var(--secondary-color);
    margin-bottom: 2vh;
}

.questions summary{
    margin: 1vh;
    color: var(--accent-color);
    font-weight: 900;
    font-size: 1.5vw;
}



/* CODE FOR VISION AND MISSION SECTION */

.vision{
    display: flex;
    padding: 10vh 2vw;
    align-items: center;
    justify-content: space-around;
}

.vision > div{
    width: 40%;
    font-size: 2vw;
    font-weight: 700;
}

.vision h1{
    font-size: 5vw;
}


/* CODE FOR FOOTER */

footer{
    background-color: var(--primary-color);
    padding: 2vh 2vw;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img {
    filter:invert();
    height: 5vh;
    margin: 0 1vw;
    transition: .2s;
}

footer img:hover{
    filter: none;
    transform: rotateZ(-15deg);
}


/* CODE FOR RESPONSIVENESS */

