@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Gafata&family=Major+Mono+Display&family=Monoton&family=Rajdhani:wght@300&family=Raleway:wght@200&family=Syncopate&display=swap');
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e1c1c;
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --primary-color: #1E1C1C;
    --secondary-color: #FF4545;
    --accent-color: #FFFDFA;
}


#heading {
    color: white;
    font-size: 3.5vw;
    font-family: Raleway;
}

#team-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto ;
    min-width: 100%;
    height: 40vw;
}

#team-container>#team-subcontainer,#team-container2>#team-subcontainer, #advisory-section>#team-subcontainer{
    background-color: #DFDFDF;
    color: black;
    min-width: 25%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team-container>#team-subcontainer1 , #team-container2 > #team-subcontainer1, #advisory-section > #team-subcontainer1{
    background-color: #81D959;
    color: #1E1C1C;
    text-align: center;
    min-width: 25%;
    height: 20vw;
    font-size: 1.8vw;
    font-family: 'Rajdhani';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team-subcontainer1 > h5{
    font-size: 1.1vw;
}
#team-subcontainer1 > h3{
    font-size: 2.7vw;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #1E1C1C;
    border-top: 1px solid #FFFDFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 0 5vw;
}

#footer-text {
    font-size: 1.1vw;
    font-family: 'Rajdhani';
}

#footer-icons {
    display: flex;
    justify-content: space-between;
}

#social-icons{
    width: 3vw;
    height: 3vw;
    transition: 0.2s;
}

#social-icons:hover{
    filter: none;
    transform: rotateZ(-15deg)
}

#team-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#team-container2>#team-subcontainer{
    min-width: 25%;
}
#team-container2>#team-subcontainer1{
    min-width: 25%;
}

#advisory-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#advisory-section > #team-subcontainer1,  #advisory-section > #team-subcontainer{
    min-width: 25%;
}

#supported-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#supported-section > img{
    min-width: 8vw;
    height: 8vw;
}

#line{
    height: 0.05vw;
    background-color: white;
    margin-bottom: 1vw;
    width: 100%;
    margin: auto;
    margin-bottom: 1vw;
}

/* profile image sizing */
#profile{
    min-width: 10vw;
    height: 10vw;
}
#profile1{
    min-width: 13vw;
    height: 13vw;
}

#team-subcontainer > span{
    display: flex;
    justify-content: space-around;
}

/* #team-subcontainer:hover{
    filter: blur(0.65px);
    -webkit-filter: blur(0.65px);
} */

@media only screen and (max-width:750px) {
    #advisory-section > #team-subcontainer1,#advisory-section > #team-subcontainer{
        min-width: 48%;
        height: 43vw;
        border: solid#1E1C1C 0.1vw;
    }

    #advisory-section{
        flex-wrap: wrap-reverse;
    }

    #heading{
        font-size: 7.2vw;
        text-align: center;
    }
    #profile{
        min-width: 20vw;
        height: 20vw;
    }
    #profile1{
        min-width: 23vw;
        height: 23vw;
    }
    #social-icons{
        width: 5.5vw;
        height: 5.5vw;
    }
    footer{
        height: 10vw;
        max-width: 100%;
    }

    #team-subcontainer1 > h3{
        font-size: 4vw;
    }
    #team-subcontainer1 > h5{
        font-size: 2.5vw;
    }
    #supported-section > img{
        min-width: 20vw;
        height: 20vw;
    }
    #footer-text{
        font-size: 2.3vw;
    }
}
